<div class="form-wrapper">
  <div class="form-login">
    <div class="form-login-main flex br4 center">
      <div class="form-login-content w-60 pr5 pt4 pb4 pl5">
        <h3 class="mt0 mb2 form-title">Welcome Back</h3>
        <h4 class="mt0 normal detail">New user? <a href="" class="link dim blue">Create an a count</a></h4>
        <div class="mt3 group-email-pass">
          <div class="form-email">
            <input class="b--black-20 pa2 br-pill input-reset ba bg-transparent w-100" type="email" name="email-address"  placeholder="Email Address">
            <i-feather name="mail" class="icon-email"></i-feather>
          </div>
          <div class="form-pass mt3">
            <input class="b--black-20 pa2 br-pill input-reset ba bg-transparent w-100" type="password" name="pass" placeholder="Password">
          </div>
          <div class="group-remember-forgot-pass mt3">
            <label class="pa0 ma0 lh-copy pointer"><input type="checkbox"> Remember me</label>
            <a href="" class="link dim blue">Forgot your password?</a>
          </div>
          <a class="f6 no-underline link dim br-pill ph3 pv2 dib white mt3 w-100 tc bg-gray btn-login" href="#0">Login</a>
          <p class="or tc">OR</p>
          <a class="f6 no-underline link dim br-pill ph3 pv2 dib white white w-100 tc bg-blue btn-login-face" href="#0">Login with Facebook</a>
          <a class="f6 no-underline link dim br-pill ph3 pv2 dib white white mt3 w-100 tc bg-red btn-login-google" href="#0">Login with Google</a>
          <!-- <p>
            <i-feather name="mail" class="big"></i-feather>
          </p> -->
        </div>
      </div>
      <div class="form-login-logo w-40 pr3 pt3 pb3 pl3 br--right br4 tc">
        <div class="">icon</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>